:root {
    --color__white: #ffffff;

    --color__blue: #31bef4;
    --color__blueTwo: #2cabdc;
    --color__blueShadow: #0b91c5;
    --color__darkBlue: #212d55;
    --color__grey: #f9fcfd;

    --color__blackFon: #222222;
}
